@import url("variaveis.css");

@media screen and (min-width: 901px) {
    .container_audiovisual {
        background-image: url("/assets/img/img_audiovisual-desktop.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        position: relative;
    }

    .box_audiovisual {
        background-color: var(--bg-box);
        width: 200px;
        position: absolute;
        top: 133px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .title_audiovisual {
        font-family: var(--font-secundaria);    
        font-size: 15px;
        font-weight: 700;
        color: white;
        padding: 5px;
    }

    .sub_audiovisual{
        font-family: var(--font-secundaria);
        font-size: 11px;
        font-weight: 200;
        color: white;
        padding: 5px;
    }


    
    .img_lazer,
    .img_game,
    .img_curta,
    .img_audio,
    .img_trello,
    .img_olimpica,
    .img_games {
        display: none;
    }
}



@media screen and (min-width: 600px) and (max-width: 900px) {
    body {
        overflow: hidden;
    }

    .audiovisual {
        width: var(--largura-container-tablet);
    }

    .container_audiovisual {
        width: var(--largura-container-tablet);
        align-items: center;
        margin: 2px;
        position: relative;
    }
    
    .img_audio {
        width: var(--largura-container-tablet);
        border-radius: 10px;
        position: relative;
        height: 200px;
    }
    
    .box_audiovisual {
        background-color: var(--bg-box);
        width: var(--largura-container-tablet);
        position: absolute;
        top: 138px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .title_audiovisual {
        font-family: var(--font-secundaria);    
        font-size: 25px;
        font-weight: 700;
        color: white;
        padding: 5px;
    }
    
    .sub_audiovisual{
        font-family: var(--font-secundaria);
        font-size: 11px;
        font-weight: 200;
        color: white;
        padding: 5px;
    }
}

@media screen and (max-width: 600px) {
    .audiovisual {
        max-width: 390px;
    }
    
    .container_audiovisual {
        width: var(--largura-swipper);
        align-items: center;
        margin: 12px;
        position: relative;
    }
    
    .img_audio {
        width: var(--largura-swipper);
        border-radius: 10px;
        position: relative;
    }
    
    .box_audiovisual {
        background-color: var(--bg-box);
        width: var(--largura-swipper);
        position: absolute;
        top: 91px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .title_audiovisual {
        font-family: var(--font-secundaria);    
        font-size: 22px;
        font-weight: 700;
        color: white;
        padding: 5px;
    }
    
    .sub_audiovisual{
        font-family: var(--font-secundaria);
        font-size: 9px;
        font-weight: 200;
        color: white;
        padding: 5px;
    }
}

