@import url("variaveis.css");


@media screen and (min-width: 901px) {
    .container_game {
        background-image: url("/assets/img/marioKart=desktop.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        position: relative;
    }

    .box_game {
        background-color: var(--bg-box);
        width: 200px;
        position: absolute;
        top: 153px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .title_game {
        font-family: var(--font-secundaria);    
        font-size: 15px;
        font-weight: 700;
        color: white;
        padding: 5px;
    }
}


@media screen and (min-width: 600px) and (max-width: 900px) {
    .games {
        max-width: var(--largura-container-tablet);
    }
    
    .container_game {
        width: var(--largura-container-tablet);
        align-items: center;
        position: relative;
    }
    
    .img_games {
        width: var(--largura-container-tablet);
        border-radius: 10px;
        position: relative;
    }
    
    .box_game {
        background-color: var(--bg-box);
        width: var(--largura-container-tablet);
        position: absolute;
        top: 131px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .title_game {
        font-family: var(--font-secundaria);    
        font-size: 20px;
        font-weight: 700;
        color: white;
        padding: 5px;
    }
}


@media screen and (max-width: 600px) {
    .games {
        max-width: 390px;
    }
    
    .container_game {
        width: var(--largura-swipper);
        align-items: center;
        margin: 12px;
        position: relative;
    }
    
    .img_games {
        width: var(--largura-swipper);
        border-radius: 10px;
        position: relative;
    }
    
    .box_game {
        background-color: var(--bg-box);
        width: var(--largura-swipper);
        position: absolute;
        top: 117px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .title_game {
        font-family: var(--font-secundaria);    
        font-size: 20px;
        font-weight: 700;
        color: white;
        padding: 5px;
    }
}
