@import url("variaveis.css");
@import url("/assets/css/styles.css");
@import url("/assets/css/footer.css");
@import url("/assets/css/swipper.css");
@import url("/assets/css/audiovisual.css");

.main_cinema {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}