@import url("variaveis.css");
@import url("/assets/css/styles.css");
@import url("/assets/css/footer.css");
@import url("/assets/css/swipper.css");
@import url("/assets/css/games.css");

@media screen and (min-width: 900px) {
    .main_games {
        height: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .fortnite_tablet {
        width: 90vw;
        height: 390px;
        background-image: url("/assets/img/fortnite-inicial.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5px;
        border-radius: 10px;
        position: relative;
    }

    .game_tablet {
        width: 90vw;
        height: 390px;
        background-image: url("/assets/img/marioKart.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px;
        border-radius: 10px;
    }

    .img_game,
    .img_games {
        display: none;
    }

    .text_tablet {
        width: 90vw;
        position: absolute;
        top: 265px;
        left: 0;
    }

    .game_text {
        width: 90vw;
        position: absolute;
        top: 325px;
    }

    .title_game-tablet {
        font-size: 45px;
    }
}


@media screen and (min-width: 600px) and (max-width: 900px) {
    .main_games {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .fortnite_tablet {
        width: 90vw;
        height: 390px;
        background-image: url("/assets/img/fortnite-inicial.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5px;
        border-radius: 10px;
    }

    .game_tablet {
        width: 90vw;
        height: 390px;
        background-image: url("/assets/img/marioKart.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px;
        border-radius: 10px;
    }

    .img_game,
    .img_games {
        display: none;
    }

    .text_tablet {
        width: 89vw;
        position: absolute;
        top: 290px;
    }

    .game_text {
        width: 90vw;
        position: absolute;
        top: 270px;
    }

    .title_game-tablet {
        font-size: 45px;
    }
}

@media screen and (max-width: 600px) {
    .main_games {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .fortnite_tablet {
        width: 90vw;
        height: 150px;
        background-image: url("/assets/img/fortnite-inicial.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5px;
        border-radius: 10px;
        position: relative;
    }

    .text_tablet {
        width: 90vw;
        position: absolute;
        top: 90px;
        left: 0;
    }

    .img_game {
        display: none;
    }
}

