@import url("/assets/css/variaveis.css");
@import url("/assets/css/styles.css");
@import url("/assets/css/footer.css");

.lazer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figura_lazer,
.img_lazer,
.figura_base,
.img_base,
.figura_downhill,
.img_downhill {
    width: var(--largura-container); 
}

.box_lazer,
.box_base,
.box_downhill {
    width: var(--largura-container);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}

.title_lazer {
    font-family: var(--font-secundaria);    
    font-size: 22px;
    font-weight: 700;
    color: rgb(52, 48, 48);
    padding: 2px;
}

.paragrafo_lazer,
.paragrafo_base,
.paragrafo_downhill {
    font-family: var(--font-secundaria);
    font-size: 15px;
    font-weight: 300;
    color: var(--color-paragrafo);
    padding: 2px;
}