@import url("variaveis.css");
@import url("/assets/css/footer.css");

@media screen and (min-width: 900px) {
     /* conteudo página index */

     .index {
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    .secao_swipper {
        width: 100%;
    }

    .carrosel {
        display: flex;
        width: 100%;
    }

    .container_swipper {
        margin-top: 15px ;
        position: relative;
    }

    .box_text {
        background-color: var(--bg-box);
        width: 100%;
        position: absolute;
        top: 350px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .box_text-curta {
        background-color: var(--bg-box);
        width: 100%;
        position: absolute;
        top: 302px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .box_text-fortnite {
        background-color: var(--bg-box);
        width: 100%;
        position: absolute;
        top: 275px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .box_text-lazer {
        background-color: var(--bg-box);
        width: 100%;
        position: absolute;
        top: 335px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .container_desktop {
        background-image: url("/assets/img/esporte_e_lazer.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 400px;
    }

    .container_desktop-fortnite{
        background-image: url("/assets/img/fortnite-inicial.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 400px;
    }

    .container_desktop-filme {
        background-image: url("/assets/img/CurtaMetrageem.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 400px;
    }

    .title_esportes,
    .title_fortnite,
    .title_curta {
        font-family: var(--font-secundaria);    
        font-size: 50px;
        font-weight: 700;
        color: white;
        padding: 2px;
    }

    .sub_curta {
        font-family: var(--font-secundaria);
        font-size: 25px;
        font-weight: 300;
        color: white;
        padding: 1px;   
    }

    article {
        display: flex;
        width: 100%;
        margin-top: 10px;
        padding: 5px 10px 5px 10px;
    }

    .medias {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .img_lazer,
    .img_game,
    .img_curta,
    .img_audio,
    .img_trello,
    .img_olimpica,
    .img_games {
        display: none;
    }
    
}
    
    




@media screen and (min-width: 600px) and (max-width: 900px) {
    .secao_swipper {
        max-width: var(--largura-swipper-tablet);
    }

    .carrosel {
        display: flex;
        gap: 1px;
        margin: 1px;
        /* overflow: hidden; */
    }

    .container_swipper {
        width: 850px;
        align-items: center;
        margin: 20px 0;
        position: relative;
    }

    

    .img_lazer,
    .img_game,
    .img_curta {
        width: var(--largura-swipper-tablet);
        border-radius: 10px;
        position: relative;
        z-index: 0;
    }

    .box_text {
        background-color: var(--bg-box);
        width: var(--largura-swipper-tablet);
        position: absolute;
        top: 300px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .title_esportes,
    .title_fortnite,
    .title_curta {
        font-family: var(--font-secundaria);    
        font-size: 40px;
        font-weight: 700;
        color: white;
        padding: 2px;
    }

    .sub_curta {
        font-family: var(--font-secundaria);
        font-size: 19px;
        font-weight: 300;
        color: white;
        padding: 1px;   
    }
}
    


    

    


@media  screen and (max-width: 600px) {
    .secao_swipper {
        max-width: 390px;
        display: flex;
    }
    
    .carrosel {
        display: flex;
        gap: 1px;
        margin:  0 20px;
        /* overflow: hidden; */
    }
    
    .container_swipper {
        width: var(--largura-swipper);
        align-items: center;
        margin: 20px 0;
        position: relative;
    }
    
    .img_lazer,
    .img_game,
    .img_curta {
        width: var(--largura-swipper);
        border-radius: 10px;
        position: relative;
        z-index: 0;
    }
    
    .box_text {
        background-color: var(--bg-box);
        width: var(--largura-swipper);
        position: absolute;
        top: 112px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .title_esportes,
    .title_fortnite,
    .title_curta {
        font-family: var(--font-secundaria);    
        font-size: 22px;
        font-weight: 700;
        color: white;
        padding: 5px;
    }
    
    .sub_curta {
        font-family: var(--font-secundaria);
        font-size: 9px;
        font-weight: 200;
        color: white;
        padding: 2px;   
    }
    
}
