@import url("variaveis.css");


@media screen and (min-width: 600px) and (max-width: 900px) {
    .trello {
        max-width: var(--largura-container-tablet);
    }
    
    .container_trello {
        width: var(--largura-container-tablet);
        align-items: center;
        margin: 2px;
        position: relative;
    }
    
    .img_trello {
        width: var(--largura-container-tablet);
        height: 200px;
        border-radius: 10px;
        position: relative;
    }
    
    .box_trello {
        background-color: var(--bg-box);
        width: var(--largura-container-tablet);
        position: absolute;
        top: 142px;
        border-radius: 0 0 10px 10px;
    }
    
    .title_trello {
        font-family: var(--font-secundaria);    
        font-size: 22px;
        font-weight: 700;
        color: white;
        padding: 5px; 
    }
    
    .sub_trello {
        font-family: var(--font-secundaria);
        font-size: 9px;
        font-weight: 200;
        color: white;
        padding: 5px;
    }
}


@media screen and (max-width: 600px) {
    .trello {
        max-width: 390px;
    }
    
    .container_trello {
        width: var(--largura-swipper);
        align-items: center;
        margin: 12px;
        position: relative;
    }
    
    .img_trello {
        width: var(--largura-swipper);
        border-radius: 10px;
        position: relative;
    }
    
    .box_trello {
        background-color: var(--bg-box);
        width: var(--largura-swipper);
        position: absolute;
        top: 117px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .title_trello {
        font-family: var(--font-secundaria);    
        font-size: 22px;
        font-weight: 700;
        color: white;
        padding: 5px; 
    }
    
    .sub_trello {
        font-family: var(--font-secundaria);
        font-size: 9px;
        font-weight: 200;
        color: white;
        padding: 5px;
    }
}
