@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --font-principal: "Open Sans", Sans-serif;
    --font-secundaria: "Inter", Arial;
    --color-font: #000000;
    --color-descricao: #ffffff;
    --bg-cabecalho-footer: #B4B4B8;
    --bg-menu: #ffffff;
    --bg-buttom: #F2F2F2;
    --bg-box: hsla(0, 0%, 0%, 0.4);
    --bg-body: #F2EFF5;
    --bg-main: #E1E3D9;
    --largura-swipper: 350px;
    --largura-container: 410px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    main {
        background-color: var(--bg-main);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
    }
}

body {
    overflow-x: hidden;
}